@using Microsoft.AspNet.Identity
@model Tastebook.Models.ListViewModel

<div class="recipeList">
    <div class="recipeListTitle">
        <i class="fa fa-lemon-o"></i>
        <span>Tastebook</span>
    </div>

    @Html.Partial("_Recipe")
</div>

@section scripts
{
    <script type="text/javascript" src="~/Scripts/confirmDeleteRecipe.js"></script>
}
