@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="navList account">
            <li>@Html.ActionLink("Moje konto", "Index", "Manage", new { }, new { @class = "" })</li><!--
            --><li><a href="javascript:document.getElementById('logoutForm').submit()" class="fa fa-sign-out"></a></li>
        </ul>
    }
}
else
{
    <ul class="navList account">
        <li>@Html.ActionLink("Rejestracja", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li><!--
        --><li>@Html.ActionLink("Logowanie", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
