@font-face {
  font-family: 'Condiment';
  src: url("../fonts/Condiment-Regular.ttf");
  font-weight: normal; }

@font-face {
  font-family: 'Damion';
  src: url("../fonts/Damion-Regular.ttf");
  font-weight: normal; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Black.ttf");
  font-weight: bolder;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-BlackItalic.ttf");
  font-weight: bolder;
  font-style: italic; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Italic.ttf");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Light.ttf");
  font-weight: lighter;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-ExtraLightItalic.ttf");
  font-weight: lighter;
  font-style: italic; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Condiment';
  src: url("../fonts/Condiment-Regular.ttf");
  font-weight: normal; }

@font-face {
  font-family: 'Damion';
  src: url("../fonts/Damion-Regular.ttf");
  font-weight: normal; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Black.ttf");
  font-weight: bolder;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-BlackItalic.ttf");
  font-weight: bolder;
  font-style: italic; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Italic.ttf");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Light.ttf");
  font-weight: lighter;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-ExtraLightItalic.ttf");
  font-weight: lighter;
  font-style: italic; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf");
  font-weight: normal;
  font-style: normal; }

@keyframes breath {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(0.9); }
  100% {
    transform: scale(1); } }

.form-title {
  display: table;
  padding: 100px 0;
  font-family: Damion;
  font-weight: bold;
  color: #E91E63;
  font-size: 4em;
  cursor: default;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none; }

.formImage {
  cursor: default;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  background-image: repeating-linear-gradient(45deg, #E91E63, #E91E63 35px, #C2185B 35px, #C2185B 70px);
  min-height: 100%;
  min-height: 100vh;
  padding: 350px 150px; }

.formImage > .formMotto {
  display: table;
  color: #FFFFFF;
  font-family: Damion;
  font-size: 4em;
  animation: breath 3s ease-in-out infinite none; }
  .formImage > .formMotto small {
    display: block;
    padding-top: 30px;
    font-size: 0.6em;
    color: #F8BBD0; }

form {
  cursor: default;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  padding: 15px; }

.form-footer {
  padding-top: 50px; }

.dropzone {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 !important;
  border: 1px dashed #e5e5e5 !important; }

@font-face {
  font-family: 'Condiment';
  src: url("../fonts/Condiment-Regular.ttf");
  font-weight: normal; }

@font-face {
  font-family: 'Damion';
  src: url("../fonts/Damion-Regular.ttf");
  font-weight: normal; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Black.ttf");
  font-weight: bolder;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-BlackItalic.ttf");
  font-weight: bolder;
  font-style: italic; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Italic.ttf");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Light.ttf");
  font-weight: lighter;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-ExtraLightItalic.ttf");
  font-weight: lighter;
  font-style: italic; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf");
  font-weight: normal;
  font-style: normal; }

.input[type="text"] {
  border-radius: 0; }

.btn {
  border-radius: 0; }

.btn-default {
  color: #FFFFFF;
  border-color: #E91E63;
  background-color: #E91E63;
  transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s; }
  .btn-default:hover {
    color: #FFFFFF;
    border-color: #E91E63;
    background-color: #E91E63;
    box-shadow: none;
    outline: none; }
  .btn-default:active, .btn-default:focus {
    transform: scale(0.95);
    color: #FFFFFF;
    border-color: #E91E63;
    background-color: #E91E63;
    box-shadow: none;
    outline: none; }

.btn-recipe {
  padding: 5px;
  text-align: left;
  color: #E91E63; }
  .btn-recipe:hover {
    color: #C2185B;
    text-decoration: underline; }

.form-control {
  border-radius: 0;
  box-shadow: none; }
  .form-control:focus {
    box-shadow: none;
    border-color: #E91E63; }

.form-group .form-control {
  margin-bottom: 5px; }

.validation-summary-errors {
  position: fixed;
  top: 15px;
  left: 0px; }
  .validation-summary-errors ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    .validation-summary-errors ul li {
      max-width: 350px;
      margin-bottom: 5px;
      padding: 15px 30px;
      color: #FFFFFF;
      background-color: #C2185B; }

@font-face {
  font-family: 'Condiment';
  src: url("../fonts/Condiment-Regular.ttf");
  font-weight: normal; }

@font-face {
  font-family: 'Damion';
  src: url("../fonts/Damion-Regular.ttf");
  font-weight: normal; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Black.ttf");
  font-weight: bolder;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-BlackItalic.ttf");
  font-weight: bolder;
  font-style: italic; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Italic.ttf");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Light.ttf");
  font-weight: lighter;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-ExtraLightItalic.ttf");
  font-weight: lighter;
  font-style: italic; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf");
  font-weight: normal;
  font-style: normal; }

.materialPopup {
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(33, 33, 33, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none; }

.materialPopup > .popupWindow {
  padding: 25px;
  background-color: #FFFFFF; }
  .materialPopup > .popupWindow .title {
    font-size: 2em;
    font-weight: bold; }
  .materialPopup > .popupWindow .text {
    font-size: 1.5em;
    padding: 15px 0; }
  .materialPopup > .popupWindow .buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center; }
    .materialPopup > .popupWindow .buttons a {
      color: #E91E63;
      font-size: 1.2em;
      font-weight: bold;
      padding: 10px 20px; }
      .materialPopup > .popupWindow .buttons a:first-child {
        margin-right: 5px; }
      .materialPopup > .popupWindow .buttons a:hover {
        background-color: #F8BBD0; }

.loader {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #7e103b;
  color: #FFFFFF; }

.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg); }

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1); }

.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #F8BBD0;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%; }

.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg); }

.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg); }

.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg); }

.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }

.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s; }

.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s; }

@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0; }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1; }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0; } }

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0; }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1; }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0; } }

@font-face {
  font-family: 'Condiment';
  src: url("../fonts/Condiment-Regular.ttf");
  font-weight: normal; }

@font-face {
  font-family: 'Damion';
  src: url("../fonts/Damion-Regular.ttf");
  font-weight: normal; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Black.ttf");
  font-weight: bolder;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-BlackItalic.ttf");
  font-weight: bolder;
  font-style: italic; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Italic.ttf");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Light.ttf");
  font-weight: lighter;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-ExtraLightItalic.ttf");
  font-weight: lighter;
  font-style: italic; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf");
  font-weight: normal;
  font-style: normal; }

.navigationBar {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: -250px;
  bottom: 0;
  background-color: #FFFFFF;
  /*box-shadow: -2px 0px 5px transparentize($primaryLight, 0.7);*/ }

.navigationBar #logoutForm {
  padding: 0; }
  .navigationBar #logoutForm::after {
    content: '';
    display: block;
    clear: both; }

.navigationBar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 300px; }

.menuLi {
  font-size: 1em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center; }
  .menuLi:hover {
    background-color: #e5e5e5; }
  .menuLi .fa {
    width: 50px;
    line-height: 1.1;
    text-align: center; }

.navigationBar ul li a {
  display: block;
  padding: 10px 15px; }

.navigationBar .menuBtn {
  flex: 1; }

.navigationBar .logOutBtn {
  position: absolute;
  z-index: 1001;
  bottom: 15px;
  left: 0;
  right: 0; }

#menuToggle {
  position: absolute;
  z-index: 1001;
  top: 15px;
  left: 15px;
  cursor: pointer;
  color: #FFFFFF;
  font-size: 1.5em;
  transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s; }
  #menuToggle:focus {
    transform: scale(1); }
  #menuToggle:active {
    transform: scale(0.8); }

.accountMenu {
  background-color: #E91E63;
  text-align: center; }
  .accountMenu .userIcon {
    margin: 15px auto;
    padding: 30px 40px;
    font-size: 5em;
    color: #C2185B;
    border-radius: 50%;
    background-color: #FFFFFF; }
  .accountMenu .userName {
    display: block;
    padding: 10px 15px;
    text-align: center;
    color: #FFFFFF; }
    .accountMenu .userName:hover {
      background-color: #C2185B; }

.menuBottom {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0; }

@font-face {
  font-family: 'Condiment';
  src: url("../fonts/Condiment-Regular.ttf");
  font-weight: normal; }

@font-face {
  font-family: 'Damion';
  src: url("../fonts/Damion-Regular.ttf");
  font-weight: normal; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Black.ttf");
  font-weight: bolder;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-BlackItalic.ttf");
  font-weight: bolder;
  font-style: italic; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Italic.ttf");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Light.ttf");
  font-weight: lighter;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-ExtraLightItalic.ttf");
  font-weight: lighter;
  font-style: italic; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf");
  font-weight: normal;
  font-style: normal; }

@keyframes breath {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(0.9); }
  100% {
    transform: scale(1); } }

.recipeListTitle {
  margin: 60px 0;
  margin-bottom: 30px;
  font-size: 5em;
  font-weight: bold;
  font-family: Damion;
  padding-bottom: 60px;
  border-bottom: 1px solid #e5e5e5; }
  .recipeListTitle .fa {
    color: #E91E63;
    font-weight: bold; }

.recipe {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 30px;
  border-bottom: 1px solid #e5e5e5; }

.recipe:not(:first-child) {
  margin-top: 30px; }

.recipe .recipeCol > * {
  padding: 15px; }

.recipe .recipeCol:nth-child(1) {
  padding: 15px;
  background-color: #f5f5f5; }

.recipe .recipeCol:nth-child(2) {
  flex: 1; }
  .recipe .recipeCol:nth-child(2) a {
    color: #E91E63;
    font-weight: bold; }
  .recipe .recipeCol:nth-child(2) a:hover {
    color: #F8BBD0; }

.recipe .recipeCol:nth-child(3) > * {
  padding: 15px 0px; }

.recipe .recipeCol:nth-child(4) {
  margin-left: 45px;
  margin-right: 45px; }
  .recipe .recipeCol:nth-child(4) > * {
    padding: 15px 0px; }

.recipe .recipeCol:last-child a {
  padding: 10px 15px;
  background-color: #e5e5e5;
  position: relative; }
  .recipe .recipeCol:last-child a:hover {
    color: #FFFFFF;
    background-color: #E91E63; }
  .recipe .recipeCol:last-child a:hover .tool-tip {
    display: flex; }

.recipe .tool-tip {
  position: absolute;
  z-index: 100;
  bottom: 0;
  left: 100%;
  top: 0;
  min-width: 150px;
  color: #FFFFFF;
  background-color: #212121;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: none; }

@font-face {
  font-family: 'Condiment';
  src: url("../fonts/Condiment-Regular.ttf");
  font-weight: normal; }

@font-face {
  font-family: 'Damion';
  src: url("../fonts/Damion-Regular.ttf");
  font-weight: normal; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Black.ttf");
  font-weight: bolder;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-BlackItalic.ttf");
  font-weight: bolder;
  font-style: italic; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Italic.ttf");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Light.ttf");
  font-weight: lighter;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-ExtraLightItalic.ttf");
  font-weight: lighter;
  font-style: italic; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf");
  font-weight: normal;
  font-style: normal; }

@keyframes breath {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(0.9); }
  100% {
    transform: scale(1); } }

.pageHeader .pageTitle {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 3em;
  margin: 60px 0 45px 0;
  padding-bottom: 60px;
  border-bottom: 1px solid #e5e5e5; }
  .pageHeader .pageTitle .action {
    padding: 10px 15px;
    margin-right: 15px;
    font-size: 0.5em; }
  .pageHeader .pageTitle .text {
    flex: 1;
    font-weight: bold;
    font-family: Damion; }
  .pageHeader .pageTitle .textSmall {
    font-size: 0.5em;
    color: #BDBDBD; }

.materialForm textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 150px;
  max-height: 450px; }

.materialForm .form-control {
  border: none;
  border-bottom: 1px solid #e5e5e5; }

body {
  color: #212121;
  font-size: 16px;
  line-height: 1.1;
  font-family: 'Source Sans Pro';
  background-color: #efefef; }

.bodyContent > .container {
  background-color: #FFFFFF;
  box-shadow: 0 0 15px #e0e0e0;
  min-height: 100%;
  min-height: 100vh;
  padding: 0 60px; }

body a {
  color: #E91E63;
  text-decoration: none;
  outline: none; }
  body a:hover {
    color: #C2185B; }
  body a:active, body a:focus {
    color: #F8BBD0; }
  body a:focus, body a:active, body a:hover {
    text-decoration: none;
    outline: none; }

